 /* PC style */
@media screen and (min-width: 769px) {
.l-footer{
    position: relative;
    margin-top: 5%;
    background-color: #eae8e3;
    width: 100%;
    height: 500px;
    margin: auto;
    &__wrap{
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
    &__contents{
        position: relative;
        margin-top: 5%;
        background-color: #eae8e3;
        width: 100%;
        height: 500px;
        margin: auto;
    }

    &__top{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        &Img{
            overflow: hidden;
        }
        & img{
            width: 100%;
            height: auto;
            transition: .3s;
            transform: scale(1.1);
            &:hover{
                transform: scale(1.0)
            }
    }
    }

    &__middle{
        position: relative;
        width: 100%;
        height: 1000px;
        background-color: #0c3b2c;;

        &Top{
            display: flex;
            width: 47%;
            margin-left: 22%;
        }
        &Left{
            padding-top: 15%;
        }
        &Right{
            padding-top: 15%;
        }
        & h6{
            color: white;
            font-size: 19px;
            font-family: 'arial black';
        }
        & p{
            width: 87%;
            padding-top: 40px;
            color: white;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.07rem;
        }
        &Img{
            position: absolute;
            top: -3%;
            left: 68%;
            & img{
                width: 45%;
            }
        }

        & hr{
            margin-top: 15%;
        }


        &Group{
            width: 55%;
            display: flex;
            margin: auto;
            padding-top: 10%;
            & ul{
                color: white;
                font-family:'arial black';
            }
            & li{
            padding-top: 20px;
            color: rgb(134, 164, 140);
            font-size: 12px;
            line-height: 2;
            // letter-spacing: .07rem;
            transition: all 1s ease;
                &:hover{
                    color: rgb(255, 255, 255);
                }
                }
        }
        &List{
            width: 200px;
            padding-right: 5px;
        }
        &Icon{
            display: flex;
            padding-right: 10px;
            & img{
                margin-right: 5px;
                width: 15px;
                height: 15px;
                color: white;
            }
            &2{
                display: none;
            }
        }
    }


    &__bottom{
        width: 100%;
        position: absolute;
        bottom: 0; /*下寄せの指定*/
        font-family: "Trebuchet MS";
        color: white;
        white-space: nowrap;
        & div{
            text-align: center;
            font-size: 8.5rem;
        }
        &Box{
            display: none;
        }
    }
}

}


 /* SP style */
@media screen and (max-width: 768px) {
    .l-footer{
        position: relative;
        background-color: #eae8e3;
        width: 100%;
        height: 550px;
        margin-top: 10%;
        &__wrap{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    &__top{
        position: absolute;
        top: 15%;
        &Img{
            overflow: hidden;
        }
        & img{
            width: 100%;
            height: auto;
            transition: .3s;
            transform: scale(1.1);
            &:hover{
                transform: scale(1.0)
            }
    }
    }
    &__contents {
        background-color: #eae8e3;
        width: 100%;
        height: 550px;
    }

    &__middle{
        position: relative;
        width: 100%;
        background-color: #0c3b2c;;

        &Top{
            padding-top: 20%;
            padding-left: 10%;
        }
        &Img{
            position: absolute;
            top: 21%;
            left: 59%;
            & img{
                width: 40%;
            }
        }

        &Left{
            & h6{
                width: 75%;
                font-size: 40px;
                color: white;
                font-family:'arial black';
            }
            & p{
                width: 87%;
                padding-top: 25px;
                font-size: 20px;
                color: white;
                line-height: 2;
                letter-spacing: .07rem;
            }
        }

        &Right{
            margin-top: 10%;
            & h6{
                width: 75%;
                font-size: 40px;
                color: white;
                font-family:'arial black';
            }
            & p{
                width: 53%;
                padding-top: 25px;
                font-size: 20px;
                color: white;
                line-height: 2;
                letter-spacing: .07rem;
            }
        }

        &List{
            display: none;
        }
        &Icon2{
            display: flex;
            margin: 10% 0px 0px 10%;
            & img{
                margin-right: 38px;
                width: 40px;
                color: white;
            }
        }
        &Icon{
            display: none;
        }
    }



    &__bottom{
            color: white;
            font-family: 'arial black';
            font-size: 40px;
            text-align: center;
            padding: 20% 0px;
        &Box{
            padding-top: 25%;
            & p {
                color: white;
                font-weight: bold;
                border-radius: 60px;
                align-items: center;
                width: 35rem;
                margin: 0 auto;
                padding: 3rem;
                background-color: #3f665c;
                border-radius: 7rem;
                text-align: center;
                font-size: 33px;
                font-family: "arial black";
                }
            }
        }
    }


}



    .accordion{
        width: 67%;
        margin: auto;
    }
    .accordion-003 {
        max-width: 500px;
        margin-bottom: 7px;
        border-bottom: 0.5px solid #d6dde3;
    }

    .accordion-003 summary {
        display: flex;
        font-size: 24px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 2em 0em;
        color: #ffffff;
        font-weight: 600;
        cursor: pointer;
    }

    .accordion-003 summary::-webkit-details-marker {
        display: none;
    }

    .accordion-003 summary::before,
    .accordion-003 summary::after {
        width: 1px;
        height: .9em;
        border-radius: 5px;
        background-color: #ffffff;
        content: '';
    }

    .accordion-003 summary::before {
        position: absolute;
        right: 0em;
        rotate: 90deg;
    }

    .accordion-003 summary::after {
        transition: rotate .3s;
    }

    .accordion-003[open] summary::after {
        rotate: 90deg;
    }

    .accordion-003 p {
        font-size: 24px;
        transform: translateY(-10px);
        opacity: 0;
        margin: 0;
        padding: 0.3em 0em 1.5em;
        color:  #4e7e72;
        transition: transform .5s, opacity .5s;
        transition: all 0.5s ease;
    }

    .accordion-003 p:hover{
        color: white;
    }

    .accordion-003[open] p {
        transform: none;
        opacity: 1;
    }
