/* PC style */
@media screen and (min-width: 769px) {
  .l-main {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .l-main__top {
    padding-top: 70px;
    background-color: #0c3b2c;
  }
  .l-main__list {
    width: 100%;
    height: 49px;
    background: #0c3b2c;
    text-align: center;
    padding: 1rem;
  }
  .l-main__listTxt {
    font-size: 12px;
    color: white;
    text-align: center;
  }
  .l-main__txt {
    display: flex;
    margin-top: 50px;
    align-items: center;
  }
  .l-main__txtTtl {
    font-size: 15px;
    color: #0c3b2c;
    font-family: "arial black";
  }
  .l-main__txtTxt {
    font-size: 10px;
    color: #0c3b2c;
    font-family: "arial black";
  }
  .l-main__bottom {
    margin-top: 10%;
    position: relative;
    display: block;
    width: 100%;
    margin: 28px auto 0;
    color: #000;
    text-decoration: none;
  }
  .l-main__bottomI {
    height: 700px;
    overflow: hidden;
  }
  .l-main__bottomImg {
    overflow: hidden;
    height: 700px;
  }
  .l-main__bottomImg img {
    width: 100%;
    height: auto;
    transition: 0.3s;
    transform: scale(1.1);
  }
  .l-main__bottomImg img:hover {
    transform: scale(1);
  }
  .l-main__bottomGroup {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .l-main__bottomGroup img {
    width: 100px;
    margin-bottom: 40px;
  }
  .l-main__bottomTxt {
    font-size: 50px;
    color: white;
    font-family: "arial black";
    margin-bottom: 40px;
  }
  .l-main__bottomBox p {
    width: 60%;
    padding: 20px 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    border: solid 1px white;
    border-radius: 60px;
    font-size: 1px;
    font-family: "arial black";
    color: white;
    transition: all 0.5s ease;
  }
  .l-main__bottomBox p:hover {
    background-color: white;
    color: #0c3b2c;
  }
  .l-main__contents {
    width: 100%;
    display: flex;
    margin-top: 10%;
  }
  .l-main__contentsGroup:first-child {
    margin-right: 1.5%;
  }
  .l-main__contentsImg {
    overflow: hidden;
  }
  .l-main__contentsImg img {
    width: 100%;
    height: 90%;
    height: auto;
    transition: 0.3s;
    transform: scale(1.1);
  }
  .l-main__contentsImg img:hover {
    transform: scale(1);
  }
  .l-main__contentsList {
    width: 274px;
    margin: 10% 0px 10% 5%;
  }
  .l-main__contentsTtl {
    font-family: "arial black";
    color: #0c3b2c;
  }
  .l-main__contentsTxt {
    margin: 1rem 0px 0px 0px;
    color: #0c3b2c;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.07rem;
  }
  .l-main__imge {
    margin-top: 10%;
    position: relative;
    display: block;
    width: 100%;
    margin: 0px auto 0;
    color: #000;
    text-decoration: none;
  }
  .l-main__imgeTop {
    overflow: hidden;
    height: 700px;
  }
  .l-main__imge img {
    width: 100%;
    height: auto;
    transition: 0.3s;
    transform: scale(1.1);
  }
  .l-main__imge img:hover {
    transform: scale(1);
  }
  .l-main__imgeGroup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .l-main__imgeTtl {
    font-size: 50px;
    color: white;
    font-family: "arial black";
    margin-bottom: 40px;
  }
  .l-main__imgeTxt {
    width: 350px;
    margin-bottom: 40px;
    color: white;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.07rem;
  }
  .l-main__imgeBox p {
    width: 60%;
    padding: 20px 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    border: solid 1px white;
    border-radius: 60px;
    font-size: 1px;
    font-family: "arial black";
    color: white;
    transition: all 0.5s ease;
  }
  .l-main__imgeBox p:hover {
    background-color: white;
    color: #0c3b2c;
  }
  .slider__top {
    position: relative;
  }
  .slider__top img {
    width: 100%;
    height: 800px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider__middle {
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .slider__middle li {
    width: 86%;
    margin: auto;
  }
  .slider__middle h1 {
    width: 54%;
    font-size: 84px;
    font-family: "arial black";
    color: #0c3b2c;
    line-height: 1.2;
  }
  .slider__middle p {
    margin: 1rem 0px 1rem 0px;
    color: #0c3b2c;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.07rem;
  }
  .slider .slick-dots {
    bottom: 30px !important;
  }
  .slider__bottom {
    width: 100%;
  }
  .slider__bottom img {
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .p-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-between;
    padding-bottom: 10%;
  }
  .p-main__middle {
    margin-top: 10%;
    list-style: none;
    width: 22%;
  }
  .p-main__middleBox {
    width: 24%;
    margin-bottom: 10%;
  }
  .p-main__middle Img {
    width: 220px;
    height: 220px;
    display: block;
    margin-left: auto;
    margin-bottom: 40px;
    transition-duration: 0.5s;
  }
  .p-main__middle Img:hover {
    transform: scale(0.9);
    transition-duration: 0.5s;
  }
  .p-main__middle h2 {
    font-size: 15px;
    font-family: "arial black";
    color: #0c3b2c;
  }
  .p-main__middleTxt {
    width: 90%;
    margin: 1rem 0px 1rem 0px;
    color: #0c3b2c;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.07rem;
  }
  .p-main__middleYen {
    font-size: 15px;
    font-family: "arial black";
    color: #0c3b2c;
  }
  .p-main__contents p {
    width: 17rem;
    padding: 2rem;
    margin-top: 7%;
    background-color: #3f665c;
    border-radius: 4rem;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "arial black";
  }
}
/* SP style */
@media screen and (max-width: 768px) {
  .l-wrap {
    width: 768px;
  }
  .l-main {
    width: 90%;
    margin: auto;
  }
  .l-main__contents {
    display: block;
  }
  .l-main__contentsGroup:first-child {
    margin-right: 1.5%;
  }
  .l-main__contentsImg {
    overflow: hidden;
  }
  .l-main__contentsImg img {
    width: 100%;
    height: 90%;
    height: auto;
    transition: 0.3s;
    transform: scale(1.1);
  }
  .l-main__contentsImg img:hover {
    transform: scale(1);
  }
  .l-main__contentsList {
    width: 274px;
    margin: 10% 0px 10% 5%;
  }
  .l-main__contentsTtl {
    font-family: "arial black";
    color: #0c3b2c;
  }
  .l-main__contentsTxt {
    margin: 1rem 0px 0px 0px;
    color: #0c3b2c;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.07rem;
  }
  .l-main__bottom {
    margin-top: 10%;
    position: relative;
    width: 100%;
  }
  .l-main__bottomImg {
    overflow: hidden;
    height: 700px;
  }
  .l-main__bottomImg img {
    width: 100%;
    height: auto;
  }
  .l-main__bottom__bottomImg {
    width: 100%;
    height: 100vh;
  }
  .l-main__bottomGroup {
    white-space: nowrap;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .l-main__bottomGroup img {
    width: 100px;
    padding-bottom: 40px;
  }
  .l-main__bottomTxt {
    font-size: 50px;
    color: white;
    font-family: "arial black";
    margin-bottom: 40px;
  }
  .l-main__bottomBox p {
    width: 40%;
    padding: 20px 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    border: solid 1px white;
    border-radius: 60px;
    font-size: 1px;
    font-family: "arial black";
    color: white;
  }
  .l-main__bottomBox p:hover {
    background-color: white;
    color: #0c3b2c;
  }
  .l-main__imge {
    margin-top: 10%;
    position: relative;
    display: block;
    width: 100%;
    margin: 0px auto 0;
    color: #000;
    text-decoration: none;
  }
  .l-main__imgeTop {
    overflow: hidden;
    height: 900px;
  }
  .l-main__imge img {
    width: auto;
    height: 100%;
    transition: 0.3s;
    transform: scale(1.1);
  }
  .l-main__imge img:hover {
    transform: scale(1);
  }
  .l-main__imgeGroup {
    width: 80%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .l-main__imgeTtl {
    font-size: 50px;
    color: white;
    font-family: "arial black";
    margin-bottom: 40px;
  }
  .l-main__imgeTxt {
    margin-bottom: 40px;
    color: white;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.07rem;
  }
  .slider__top {
    width: 100%;
  }
  .slider__top img {
    width: 100%;
    height: 510px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider__contents {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .slider__bottom {
    width: 100%;
  }
  .slider__bottom img {
    width: 335px;
    height: 335px;
    -o-object-fit: cover;
       object-fit: cover;
    padding-bottom: 20px;
  }
  .slider__bottom img:nth-child(even) {
    padding-left: 20px;
  }
  .slider__middle {
    margin-top: 5%;
    margin-bottom: 15%;
  }
  .slider__middle li {
    width: 86%;
    margin: auto;
  }
  .slider__middle h1 {
    width: 75%;
    font-size: 70px;
    font-family: "arial black";
    color: #0c3b2c;
    line-height: 1.2;
  }
  .slider__middle p {
    margin: 1rem 0px 1rem 0px;
    color: #0c3b2c;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.07rem;
  }
  .slick-dots {
    bottom: 30px !important;
    color: white;
  }
  .p-main {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .p-main__middle {
    width: 40%;
  }
  .p-main__middleTtl {
    font-size: 34px;
    font-family: "arial black";
    color: #0c3b2c;
  }
  .p-main__middleTxt {
    width: 260px;
    margin: 1rem 0px 1rem 0px;
    color: #0c3b2c;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.07rem;
  }
  .p-main__middleYen {
    font-size: 15px;
    font-family: "arial black";
    color: #0c3b2c;
  }
  .p-main__middle Img {
    width: 220px;
    height: 220px;
    display: block;
    margin-left: 70px;
    margin-bottom: 40px;
    transition-duration: 0.5s;
  }
  .p-main__middle Img:hover {
    transform: scale(0.9);
    transition-duration: 0.5s;
  }
  .p-main__contents p {
    width: 14rem;
    padding: 1rem;
    margin-top: 7%;
    background-color: #3f665c;
    border-radius: 4rem;
    text-align: center;
    color: white;
    font-size: 20px;
  }
  .accordion-003 {
    max-width: 500px;
    margin-bottom: 7px;
    border-bottom: 2px solid #d6dde3;
  }
  .accordion-003 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    color: #333333;
    font-weight: 600;
    cursor: pointer;
  }
  .accordion-003 summary::-webkit-details-marker {
    display: none;
  }
  .accordion-003 summary::before,
  .accordion-003 summary::after {
    width: 3px;
    height: 0.9em;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.7019607843);
    content: "";
  }
  .accordion-003 summary::before {
    position: absolute;
    right: 2em;
    rotate: 90deg;
  }
  .accordion-003 summary::after {
    transition: rotate 0.3s;
  }
  .accordion-003[open] summary::after {
    rotate: 90deg;
  }
  .accordion-003 p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 0.3em 2em 1.5em;
    color: #333333;
    transition: transform 0.5s, opacity 0.5s;
  }
  .accordion-003[open] p {
    transform: none;
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */